build/
dev/
mih_dev/
bin/
dist/
out/
bin-groovy/
output/
.svn/
.metadata/
node_modules/
.idea/
.gradle/
.settings/
*.class
*.bak
*.log
*.ipr
*.iws
*.iml
*.eml
*.ids
*.classpath
*.project
*.war
Thumbs.db
.idea
.buildpath
.project
.DS_Store
environmentLocator.properties
devConfig.js
environment.js
rebel.xml
.swp
clean.bat
